PRODUCTION_HOST=ssh.loopia.se
PRODUCTION_USER=change-me
PRODUCTION_WP_PATH=slingan.example/public_html
PRODUCTION_WP_CONTENT=slingan.example/public_html/wp-content
PRODUCTION_URL=https://slingan.example
