.DS_Store
.env
.env.*
!.env.production.example

wordpress/wp-content/uploads/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/backups/

*.sql
*.sql.gz
*.tar
*.tar.gz
*.zip
backups/
releases/

.idea/
.vscode/
node_modules/
