WORDPRESS_PORT=8083
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
WP_HOME=http://100.72.42.84:8083
WP_SITEURL=http://100.72.42.84:8083
